* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    body {
        height: 100vh;
        width: 100vw;
        display: grid;
        place-items: center;
        position: relative;
    }
  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    background-color: #cd6799;
    position: sticky;
    display: grid;
  }
  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color:whitesmoke;
    background-color: #cd5544;
    position: sticky;
    display: grid;
  }
  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #cd4328;
    position: sticky;
    display: grid;
  }
